* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#222;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}


.content_text {
	font-weight:bold;
	font-size:4em;
	color:#fff;
}

.hidden {
	display: none;
}

.ui-page .ui-footer.ui-bottom-button {
    position: relative !important;
    height: 100px;
    overflow: hidden;
}

.ui-listview .li-has-toggle .icon-container {
	position: absolute;
	right: 30px;
	bottom: 14px;
    height:70px;
    width: 70px;
    padding-top: 11px;
    border-radius: 50%;
}

.icon-container > div {
	margin-left: auto;
	margin-right: auto;
	width:48px;
	height:48px;
}

.name-container {
	position: absolute;
	left: 30px;
	bottom: 26px;
	width: 200px;
	margin: auto;
	margin-left: 10px;
	overflow: hidden;
	text-align: left;
}

.icon-container,
div.ui-selector .ui-layer .ui-item {
	color: white;
	background-color: #8c8f93;
}

/* Overrides for selector. For some reason in my app the height/width defaults to 4.25rem*/
div.ui-selector .ui-layer div.ui-item {
	height: 3.5rem;
	width: 3.5rem;
	padding-top:8px;
}

div.ui-selector-indicator {
	font-size: 40px !important;
}

div.ui-selector div.ui-item .mdi {
	height: 36px;
	width: 36px;
	margin-left:auto;
	margin-right:auto;
}
.ui-listview li div.ui-snap-listview-selected .ui-marquee {
	-webkit-transition: all ease 1s;
}

.ui-selector .ui-item-active[data-title="Lights"],
.ui-listview li.selected .light-icon-container {
    background-color: rgb(253, 216, 53) !important;
}

.ui-selector .ui-item-active[data-title="Switches"],
.ui-listview li.selected .switch-icon-container {
	background-color: #00cc44 !important;
}

.ui-selector .ui-item-active[data-title="Scripts"],
.ui-listview li.selected .script-icon-container {
	background-color: #1ee8ff !important;
}

.ui-selector .ui-item-active[data-title="Covers"],
.ui-listview li.selected .cover-icon-container {
	background-color: #ed3838 !important;
}

.ui-selector .ui-item-active[data-title="Groups"],
.ui-listview li.selected .group-icon-container {
	background-color: #0c0cce !important;
}

#settings header {
	margin-top: -20px;
}

.settings-form  {
	padding-left: 20px;
	padding-right: 20px
}

.settings-form input {
	width: 100%;
}

.settings-form button {
	margin-top: 20px;
}

.ui-popup-content {
	word-break: break-word;
}

