* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#222;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}


.content_text {
	font-weight:bold;
	font-size:4em;
	color:#fff;
}

.hidden {
	display: none;
}

.ui-page .ui-footer.ui-bottom-button {
    position: relative !important;
    height: 100px;
    overflow: hidden;
}

.ui-listview .li-has-toggle .icon-container {
	position: absolute;
	right: 30px;
	bottom: 14px;
    height:70px;
    width: 70px;
    padding-top: 11px;
    border-radius: 50%;
    background: #8c8f93;
}

.ui-listview .li-has-toggle .icon-container > div {
	margin-left: auto;
	margin-right: auto;
	width:48px;
	height:48px;
}

.name-container {
	position: absolute;
	left: 30px;
	bottom: 26px;
	width: 200px;
	margin: auto;
	margin-left: 10px;
	overflow: hidden;
	text-align: left;
}

.ui-listview li div.ui-snap-listview-selected .ui-marquee {
	-webkit-transition: all ease 1s;
}

.ui-listview li.selected .light-icon-container {
    background: rgb(253, 216, 53);
}

.ui-listview li.selected .switch-icon-container {
	background: #00cc44;
}

.ui-listview li.selected .script-icon-container {
	background: #0090ff;
}

.ui-listview li.selected .cover-icon-container,
.ui-listview li.selected .group-icon-container {
	background: #ed3838;
}

#setup header {
	margin-top: -20px;
}

.setup-form  {
	padding-left: 20px;
	padding-right: 20px
}

.setup-form input {
	width: 100%;
}

.setup-form button {
	margin-top: 20px;
}

